extends layout

block content
  body.container(ng-app="flapperNews")
    .row
      .header.clearfix
        nav.navbar-new
          ul.nav.nav-pills.pull-right(ng-controller="NavCtrl")
            li(ui-sref-active="active"): a(ui-sref="home") Home
            li(ng-show="isLoggedIn()"): a.current-user Hi {{ currentUser() }}
            li(ng-show="isLoggedIn()"): a(ng-click="logOut()") Log Out
            li(ui-sref-active="active" ng-hide="isLoggedIn()"): a(ui-sref="login") Log In
            li(ui-sref-active="active" ng-hide="isLoggedIn()"): a(ui-sref="register") Register

        h3.text-muted.title Flapper News

      .col-md-6.col-md-offset-3
        ui-view

    script(src="/javascripts/angular-ui-router.min.js")
    
    // angular templates
    include ./includes/home.jade
      
    include ./includes/posts.jade

    include ./includes/register.jade

    include ./includes/login.jade