doctype html
html
  head
    meta(charset="utf-8")
    
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js")
    script(src="/javascripts/angularApp.js")
    title= title

    // Latest compiled and minified Bootstrap
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

    // custom styles
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content