body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #424242;
}

h1 {
  color: #212121;
}

a {
  color: #e91e63 !important;
  outline: 0 !important;
  transition: .3s;
}

a:hover {
  color: #880e4f !important;
  text-decoration: none;
}

li {
  background-color: #F3F3F3 !important;
}

button {
  outline: 0 !important;
}

form {
  margin-top: 30px;
}

.title {
  text-shadow: 0 1px 5px #9e9e9e;
}

.message-form-ok {
  margin-top: 15px;
  color: green;
}
.message-form-error {
  color: red;
  margin-top: 15px;
}

.glyphicon-chevron-left, 
.glyphicon-chevron-right { 
  cursor: pointer; 
  transition: .2s;
}
.glyphicon-chevron-left:hover {
  color: red;
}
.glyphicon-chevron-right:hover {
  color: green;
}
.votes {
  text-align: center;
  width: 20px;
}
.votes,
.glyphicon {
  display: inline-block;
}
.navbar-new {
  margin-top: 15px;
}

.author {
  font-size: 15px;
  font-style: italic;
}